.features
    margin-top: 1rem
    align-items: center

    &:first-child
        margin-top: 0

    &-btn
        position: absolute
        right: auto
        left: 0
        padding: 0.5rem 0 0.5rem 1rem
        bottom: 0
        color: white
        text-transform: uppercase
        font-size: 0.85rem
        font-style: italic
        z-index: 1

        +tablet
            left: auto
            right: 0
            padding: 0.5rem 1rem 0.5rem 0
        
        &.modal-btn
            left: 0
            right: auto
            padding: 0.5rem 0 0.5rem 1rem

        

    &--bg
        height: 19rem
        position: absolute  
        background-image: url(/img/features.jpg)
        background-repeat: no-repeat
        background-size: cover

        left: 0
        margin-top: 2rem

        +tablet
            left: auto
            height: 11rem
            margin-top: auto

    &--outer
        margin: 0 auto

    &--inner
        justify-content: center
        overflow: hidden
        position: relative
        height: auto

        +tablet
            height: 13rem
    
    .right
        display: flex
        flex-direction: column

        +tablet
            display: flex
            flex-direction: initial
    
    &--left
       background-size: cover
       background-repeat: no-repeat
       min-height: 13rem
       position: relative

       &-modal
           min-height: 22rem
    
    &--right
        background: $blue
        color: white
        height: 10rem
        display: flex
        flex-direction: column
        justify-content: center
        
        +tablet
            padding: 0 2.25rem 0 0
            height: 13rem

        h5, h6, p
            position: relative
            z-index: 1
        
        h6
            font-family: $lato
            text-transform: uppercase
            font-weight: bold
            font-size: 0.85rem
        
        +tablet
           font-size: 1rem 
        
        p
            font-size: 0.85rem
        
            +tablet
               font-size: 1rem
    
        &.left
            padding: 0 2rem
            order: 3

            +tablet
                padding: 0 0 0 2.25rem
                height: 13rem
                order: initial

.arrow
    &-left, &-right
        width: 0
        height: 0
        border-bottom: 15rem solid #456b82
        position: absolute
        top: 3rem
        z-index: 1

    &-left
        transform: rotate(90deg)
        border-left: 11rem solid transparent
        right: 39%
        left: 0

        +tablet
            top: -2rem
            left: auto
            transform: rotate(0deg)

    &-right
        transform: rotate(-90deg)
        border-right: 11rem solid transparent
        left: initial
        right: 0

        +tablet
            top: -2rem
            left: 39%
            right: initial
            transform: rotate(0deg)

        &.right-modal-arrow
            top: auto
            left: auto
            transform: rotate(270deg)
            border-right: 8rem solid transparent
            border-bottom: 10rem solid #456b82
            bottom: 7rem
            right: 4.2%

            +tablet
                right: 6.8%
                bottom: 10rem

            +desktop
                right: 13.5%

    &-btn
        border-bottom: 2.25rem solid #456b82
        border-left: 3rem solid transparent
        right: auto
        bottom: -0.35rem
        width: 0
        height: 0
        position: absolute
        z-index: 1
        transform: rotate(90deg)
        left: 9.7rem
    
        +tablet
            left: auto
            right: 10rem
            transform: rotate(0deg)
            bottom: 0

        &.modal-arrow
            left: 9.65rem
            right: 0
            bottom: -0.35rem
            transform: rotate(90deg)
            
