section.hero 
    background-size: 100%
    background-repeat: no-repeat
    
.hero.is-medium
    .hero-body
        padding-bottom: 5rem
        padding-top: 2rem

        +tablet
            padding-top: 5rem

        +desktop
            padding-top: 9rem

.arrow 
    margin-top: auto
    color: white

.intro 
    min-height: 20rem
    
    h1, h3 
        color: white

.subtitle
    strong
        color: red