section.hero 
    background-size: contain
    background-repeat: no-repeat
    
.hero.is-medium
    .hero-body
        padding-bottom: 5rem

.arrow 
    margin-top: auto
    color: white

.intro 
    min-height: 20rem
    
    h1, h3 
        color: white

.subtitle
    code
        color: red