.navbar-item
    padding: 1rem 1rem
    
    +desktop
        padding: 1rem 1rem
        position: relative
        left: 1rem

.navbar-item img 
    max-height: none

.navbar-menu
    padding: 0

.level-item:not(:last-child)
    margin-bottom: 0

.navbar-burger
    height: auto

.link 
    color: $orange
    font-family: $lusitana
    font-weight: 700
    font-size: 1.1rem   